<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="productos.html">Destinos</a></li>
          <li><a href="presupuestos.html">Presupuestos</a></li>
          <li><a href="contacto.html" class="activo">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="contacto-info">
        <h2>Contacto</h2>
        <p>
          Si tienes alguna duda o necesitas más información, no dudes en
          contactarnos, le atenderemos lo antes posible.
        </p>
        <ul>
          <li>Email: viacor@gmail.com
          <li>Teléfono: +34 645 234 567</li>
          <li>Dirección: P.º de la Victoria, 15, Centro, 14008 Córdoba, Spain</li>
        </ul>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 Viacor. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
