<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Destinos</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/productos.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="../img/Logo.png" width="95px" alt="" />
      </div>
      <nav>
        <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="productos.html" class="activo">Destinos</a></li>
          <li><a href="presupuestos.html">Presupuestos</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="productos-info">
        <h2>Destinos</h2>
        <p>
          Explora nuestros destinos exclusivos y vive experiencias inolvidables
          con Viacor. Desde playas paradisíacas hasta ciudades históricas,
          tenemos el viaje perfecto para ti.
        </p>
      </section>

      <section id="productos-lista">
        <div class="producto">
          <img src="../img/paris.png" alt="París" />
          <h3>París, Francia</h3>
          <p>
            Descubre la ciudad del amor con su icónica Torre Eiffel y museos de
            renombre.
          </p>
        </div>
        <div class="producto">
          <img src="../img/tokyo.png" alt="Tokio" />
          <h3>Tokio, Japón</h3>
          <p>
            Sumérgete en la mezcla perfecta de tradición y modernidad en la
            vibrante capital japonesa.
          </p>
        </div>
        <div class="producto">
          <img src="../img/new-york.png" alt="Nueva York" />
          <h3>Nueva York, USA</h3>
          <p>
            Explora la ciudad que nunca duerme con sus emblemáticos rascacielos
            y diversidad cultural.
          </p>
        </div>
        <div class="producto">
          <img src="../img/roma.png" alt="Roma" />
          <h3>Roma, Italia</h3>
          <p>
            Viaja al corazón de la historia con el Coliseo, el Vaticano y su
            exquisita gastronomía.
          </p>
        </div>
        <div class="producto">
          <img src="../img/sydney.png" alt="Sídney" />
          <h3>Sídney, Australia</h3>
          <p>
            Disfruta de playas impresionantes y la icónica Ópera de Sídney en
            esta vibrante ciudad costera.
          </p>
        </div>
        <div class="producto">
          <img src="../img/rio-janeiro.png" alt="Río de Janeiro" />
          <h3>Río de Janeiro, Brasil</h3>
          <p>
            Vive la energía del Carnaval, las playas de Copacabana y la
            majestuosidad del Cristo Redentor.
          </p>
        </div>
      </section>
    </main>

     <footer>
      <div class="footer-contenedor">
        <div class="footer-info">
          <h3>Viacor</h3>
          <p>
            Explora el mundo con nosotros. Creamos experiencias únicas de viaje
            adaptadas a ti.
          </p>
        </div>

        <div class="footer-links">
          <h4>Enlaces</h4>
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="productos.html">Destinos</a></li>
            <li><a href="presupuestos.html">Presupuestos</a></li>
            <li><a href="contacto.html" class="activo">Contacto</a></li>
          </ul>
        </div>

        <div class="footer-contact">
          <h4>Contacto</h4>
          <p>Email: viacor@gmail.com</p>
          <p>Teléfono: +34 645 234 567</p>
          <p>
            Dirección: P.º de la Victoria, 15, Centro, 14008 Córdoba, España
          </p>
        </div>
      </div>

      <div class="footer-bottom">
        <p>&copy; 2025 Viacor. Todos los derechos reservados.</p>
      </div>
    </footer>
  </body>
</html>
